.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    
}

.nav-ul{
    display: flex;
    gap: 32px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
    
}

.nav-ul li{
    list-style: none;
    cursor: pointer;
    color: #ffffff;
    
}

.nav-ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    
    
}


.nav h1{

    margin-left: 200px;
    margin-right: 0;
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
    width: 219px;
    height: 32px;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
}

.nav h1 .nav-color{
    background: linear-gradient(
        90deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn{
    display: flex;
    align-items: center;
    gap: 8px;
    
    padding: 12px 16px 12px 16px;
    background: linear-gradient(
        90deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    border: none;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    margin-left: 314px;
    margin-right: 200px;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
}

.btn img{
    width: 16px;
    height: 16px;
}

.btn{
    transition: background 3s ease;
}

.btn:hover{
    
    background: linear-gradient(
        90deg,
        rgb(63, 247, 94),
        rgb(0, 195, 255),
        rgb(248, 0, 74)
    );
    

    
}

.nav .nav-img{
   color: #1A0B2E;
   margin: 30px 0 30px 0;
}



@media (max-width: 576px){
    .nav{
        
        align-items: flex-start;
        
        
    }
    .nav h1{
        
        width: 137px;
        padding: 16px 20px 16px 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 20px;
        font-size: 32px;
        margin-bottom: 16px;
    }


    .nav .nav-img{
        text-decoration: none;
    color: #ffffff;
    width: 137px;
        padding: 5.25px 3px 5.25px 3px;
        margin-left: 239px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-top: 32px;
        height: 20px;
        font-size: 32px;
        margin-bottom: 16px;
        cursor: pointer;
    }
    .nav .nav-img:hover{
        color: rgba(251, 9, 180, 1);
        
    }




}

@media (max-width: 992px) {
    
.banner{
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
}

.banner-container{
    width: 100%;
    height: auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.banner-circle{
    position: absolute;
    z-index: 1;
    margin-bottom: 230px;
    width: 350px;
    height: 350px;
    
}


.banner-circle:hover{
    transform: scale(1.01);
    transition: transform 1s ease;
    cursor: pointer;
}
.banner-mic{
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 200px;
    padding: 8.33px 41.67px 16.67px 41.67px;
     margin-bottom: 230px;

}

.banner-mic:hover{
    transform: scale(1.1);
    transition: transform 3s ease;
    cursor: pointer;
}


.banner-h1{
    position: absolute;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    z-index: 3;
    border: none;
    border-radius: 999px;
    color: #1A0B2E;
    margin-bottom: 500px;
    background-color: #1cff8b;
    margin-left: 250px;
    
    letter-spacing: 1px;
    box-shadow: 
        0 0 25px rgba(28, 255, 139, 0.6),
        0 0 50px rgba(28, 255, 139, 0.4)
    ;
    
}

.banner-h1:hover{
    background-color: #00ffa1;
    box-shadow: 
        0 0 35px rgba(0, 255, 161, 0.8),
        0 0 70px rgba(0, 255, 161, 0.6)
    ;
    
}


.banner .banner-container .banner-h2{
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    z-index: 4;
    margin-top: 400px;
    text-align: center;
    width: 600px;
    text-transform: capitalize;
    
    
}

.banner .banner-container .banner-p{
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    z-index: 4;
    margin-top: 520px;
    text-align: center;
    width: 600px;
}


.banner .banner-container .btn-2{
    position: absolute;
    margin-top: 630px;
    margin-right: 90px;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #ffffff;
    border-radius: 999px;
    background: linear-gradient(
        90deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    z-index: 4;}

.banner .banner-container .btn-3{
    position: absolute;
    margin-top: 630px;
    margin-right: 0px;
    margin-left: 170px;
    padding: 12px 16px 12px 16px;
    border: solid 2px #00ff88;
    color: #00ff88;
    border-radius: 999px;
    background: #1A0B2E;
    z-index: 4;
}



    
}


.banner{
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
}

.banner-container{
    width: 100%;
    height: auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.banner-circle{
    position: absolute;
    z-index: 1;
    margin-bottom: 230px;
    width: 350px;
    height: 350px;
    
}


.banner-circle:hover{
    transform: scale(1.01);
    transition: transform 1s ease;
    cursor: pointer;
}
.banner-mic{
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 200px;
    padding: 8.33px 41.67px 16.67px 41.67px;
     margin-bottom: 230px;

}

.banner-mic:hover{
    transform: scale(1.1);
    transition: transform 3s ease;
    cursor: pointer;
}


.banner-h1{
    position: absolute;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    z-index: 3;
    border: none;
    border-radius: 999px;
    color: #1A0B2E;
    margin-bottom: 500px;
    background-color: #1cff8b;
    margin-left: 250px;
    
    letter-spacing: 1px;
    box-shadow: 
        0 0 25px rgba(28, 255, 139, 0.6),
        0 0 50px rgba(28, 255, 139, 0.4)
    ;
    
}

.banner-h1:hover{
    background-color: #00ffa1;
    box-shadow: 
        0 0 35px rgba(0, 255, 161, 0.8),
        0 0 70px rgba(0, 255, 161, 0.6)
    ;
    
}


.banner .banner-container .banner-h2{
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    z-index: 4;
    margin-top: 400px;
    text-align: center;
    width: 600px;
    text-transform: capitalize;
    
    
}

.banner .banner-container .banner-p{
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    z-index: 4;
    margin-top: 520px;
    text-align: center;
    width: 600px;
}


.banner .banner-container .btn-2{
    position: absolute;
    margin-top: 630px;
    margin-right: 90px;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #ffffff;
    border-radius: 999px;
    background: linear-gradient(
        90deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    z-index: 4;}

.banner .banner-container .btn-3{
    position: absolute;
    margin-top: 630px;
    margin-right: 0px;
    margin-left: 180px;
    padding: 12px 16px 12px 16px;
    border: solid 2px #00ff88;
    color: #00ff88;
    border-radius: 999px;
    background: #1A0B2E;
    z-index: 4;
}



.banner .banner-container .btn-3:hover{
    transform: matrix(1.1);
    transition: 1s ease;
    background-color: #00ffa1;
    color: #1A0B2E;
    box-shadow: 
        0 0 35px rgba(0, 255, 161, 0.8),
        0 0 70px rgba(0, 255, 161, 0.6)
    ;
    
}

.banner .banner-container .btn-2:hover{
    transform: matrix(1.1);
    transition: 1s ease;
    box-shadow: 
    
        0 0 35px rgba(251, 9, 180, 0.8),
        0 0 70px rgba(145, 0, 248, 0.6);
    
}

@media (max-width: 576px) {
    
.banner{
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
}

.banner-container{
    width: 100%;
    height: auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.banner-circle{
    position: absolute;
    z-index: 1;
    margin-bottom: 230px;
    width: 200px;
    height: 200px;
    margin-top: 101px;
    
}


.banner-circle:hover{
    transform: scale(1.01);
    transition: transform 1s ease;
    cursor: pointer;
}
.banner-mic{
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 80px;
    padding: 8.33px 41.67px 16.67px 41.67px;
     
     margin-top: 100px;

}

.banner-mic:hover{
    transform: scale(1.1);
    transition: transform 3s ease;
    cursor: pointer;
}


.banner-h1{
    margin-top: 250px;
    margin-right: 100px;
    position: absolute;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    width: 38px;
    height: 19px;
    z-index: 3;
    border: none;
    border-radius: 999px;
    color: #1A0B2E;
    
    background-color: #1cff8b;
    
    
    letter-spacing: 1px;
    box-shadow: 
        0 0 25px rgba(28, 255, 139, 0.6),
        0 0 50px rgba(28, 255, 139, 0.4)
    ;
    
}

.banner-h1:hover{
    background-color: #00ffa1;
    box-shadow: 
        0 0 35px rgba(0, 255, 161, 0.8),
        0 0 70px rgba(0, 255, 161, 0.6)
    ;
    
}


.banner .banner-container .banner-h2{
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    z-index: 4;
    margin-top: 400px;
    margin-bottom: 200px;
    text-align: center;
    width: 600px;
    text-transform: capitalize;
    
    
}

.banner .banner-container .banner-p{
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    z-index: 4;
    margin-top: 520px;
    margin-bottom: 200px;
    text-align: center;
    width: 600px;
}


.banner .banner-container .btn-2{
    position: absolute;
    margin-top: 630px;
    margin-bottom: 200px;
    margin-right: 90px;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #ffffff;
    border-radius: 999px;
    background: linear-gradient(
        90deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    z-index: 4;}

.banner .banner-container .btn-3{
    position: absolute;
    margin-top: 630px;
    margin-bottom: 200px;
    margin-right: 0px;
    margin-left: 180px;
    padding: 12px 16px 12px 16px;
    border: solid 2px #00ff88;
    color: #00ff88;
    border-radius: 999px;
    background: #1A0B2E;
    z-index: 4;
}



.banner .banner-container .btn-3:hover{
    transform: matrix(1.1);
    transition: 1s ease;
    background-color: #00ffa1;
    color: #1A0B2E;
    box-shadow: 
        0 0 35px rgba(0, 255, 161, 0.8),
        0 0 70px rgba(0, 255, 161, 0.6)
    ;
    
}

.banner .banner-container .btn-2:hover{
    transform: matrix(1.1);
    transition: 1s ease;
    box-shadow: 
    
        0 0 35px rgba(251, 9, 180, 0.8),
        0 0 70px rgba(145, 0, 248, 0.6);
    
}

.banner-hero{
    width: 440px;
    height: 466px;
}
    
}

.about{
    width: 100%;
    height: auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.about-h2{
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
    
}


.about-p, .about-p2{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
   padding: 20px 100px 20px 100px;
    margin-bottom: 32px;
}

hr{
    z-index: 4;
    width: 1200px;
    border: 1px solid #ffffff;
    margin-bottom: 32px;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}


.about-cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-align: center;
    gap: 32px;

}





.about-cards h1{
    color: #00ff88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}


.about-cards p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

@media (max-width: 768px) {
    .about{
    width: 100%;
    height: auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px 0;
}

.about-h2{
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
    
}

.about-p, .about-p2{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    width: 600px;
    margin-bottom: 32px;
}

hr{
    z-index: 4;
    width: 1200px;
    border: 1px solid #ffffff;
    margin-bottom: 32px;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}


.about-cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-align: center;
    gap: 32px;

}





.about-cards h1{
    color: #00ff88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}


.about-cards p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
}


@media (max-width: 576px) {

    .about{
    
    height: auto;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

.about-h2{
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
    
}

.about-p, .about-p2{
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    
    margin-bottom: 32px;
}

hr{
    z-index: 4;
    width: 440px;
    border: 1px solid #ffffff;
    margin-bottom: 32px;
    text-align: center;
    align-items: center;
    margin-top: 80px;
}


.about-cards{
    margin: 100PX;
    padding: 20PX;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}





.about-cards h1{
    color: #00ff88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}


.about-cards p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.about-cards .about-card-1{
    margin-left: 20px;
}

}
